@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body {
  background: #fff;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0 0 0 0;

}

h1 {
    font-size: 2em;
    color: #2A5298;
    text-align: center;
    margin: auto;
    max-width: 650px;

}
.wrapper.style1 h1{
    font-size: 3em;
}
