@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

html {
    background-color: white;
}

body{
    color: #404040;
    font-family: 'Playfair Display', serif;
    margin: 0px;
    height: calc(100% - 100vh);
    min-width:650px;
}


h1 {
    font-size: 2em;
    color: #b76e79;
    text-align: left;
    margin: auto;
    max-width: 650px;

}

h2 {
    font-size: 1.5em;
    text-align: left;
}

.wrapper.style1 h1{
    font-size: 5em;
    color: #b76e79;
}

.wrapper.style2 {
        background-color: gray;
        background-attachment: fixed;
        color: #fff;
}
.wrapper.style2 h1{
    color: #b76e79;
}
