.hero {
  width: 100vw;
  height: 90vh;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  text-align: center;
  background-color: white
       /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm23-adj-08_1.jpg?auto=format&bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1400&s=49a4ae7c16fd46d1f62ab563d806f52a);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;*/
}
.hero h1{
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #6A81B3;
  font-family: 'Crimson Text';
}
.hero h2{
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #6A81B3;
  font-family: 'Raleway';
}
.hero-inner{
  /*border-color: white;
  border-style: solid;*/
  padding: 2%;
  margin: 0 auto;
  width: 100vw;

}
.contacts
{
  justify-content: center;
  display: flex;
  flex-flow: row nowrap;
  padding-top: 5%;
}

.contact-icon
{
  flex: 0 0 auto;
  margin-right: 32px;
  height: 36px;
}

.contact-icon > img
{
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.contact-icon > img:hover
{
  opacity: 60%;
}

.contact-icon:last-child
{
  margin-right: 0;
}

.me-img{
	width: 300px;
 height: 300px;
 border-radius: 50%;
}
.hero-inner h5{
 padding-top: 2%;
 font-weight: normal;
 color: #6A81B3;
 font-family: 'Raleway';
}
.hero-inner h2 span.typed-text {
font-weight: normal;
color: #A7BCE8;
font-family: 'Raleway';
padding-bottom: 5%;
}
.hero-inner h2 span.cursor {
display: inline-block;
background-color: #ccc;
margin-left: 0.1rem;
width: 3px;
animation: blink 1s infinite;
}
.hero-inner h2 span.cursor.typing {
animation: none;
}
@keyframes blink {
0%  { background-color: #ccc; }
49% { background-color: #ccc; }
50% { background-color: transparent; }
99% { background-color: transparent; }
100%  { background-color: #ccc; }
}
.about {
  width: 100vw;
  padding: 7%;
  background-color: #E0E0E0;
  text-align: center;
}
.about h1{
font-size: 3em;
color: #6A81B3;
font-family: 'Crimson Text';
margin-bottom: 2%;
}
.about p{
padding: 2%;
font-size: 1.2em;
color: #6A81B3;
font-family: 'Raleway';
}      
.img-icon{
 height: 150px;
}
.icons-class{
 padding-top: 2.5%;
}
.first-abt{
 padding-right: 5%;
}
.second-abt{
  padding-left: 5%;
 border-left: solid 3px;
 border-color: #6A81B3;
}
.projects{
  width: 100vw;
  padding: 7%;
  background-color: white;
  text-align: center;
}

.projects h1{
  font-size: 3em;
  color: black;
  font-family: 'Crimson Text';
  margin-bottom: 2%;
}

.companies{
  width: 100vw;
  padding: 7%;
  background-color: #E0E0E0;
  text-align: center;
}
.companies h1{
  font-size: 3em;
  color: #6A81B3;
  font-family: 'Crimson Text';
  margin-bottom: 2%;
}
.c-card{

  flex: 0 1 100%;
  border-style: none;
  max-height: 200px;
  width:100%;
}
.company-cards .c-card:hover{
  transform: scale(1.01);
  transition: 0.1s 0.1s;
  opacity: 90%;
}
.company-cards{
  cursor:pointer;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  width: 65%;
}
 .c-card-img{
  flex: 1;
  overflow: hidden;
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
